<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "Airbnb", root_path, class: "navbar-brand" %>
      <%# image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>

    <%#button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button%>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <%# if user_signed_in? %>
      <div class="ms-auto d-flex">
        <form class="d-flex justify-content-end">
        <%#form class="flex-grow-1 my-2 my-lg-0 me-3"%>
          <input class="form-control me-2" name="query" type="search" placeholder="Start Renting" aria-label="Search" value="<%= params[:query] %>">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <%# will need to change this to new_path? %>
        <%= link_to "Upload an item", root_path, class: "btn btn-outline-primary my-2 my-sm-0 ms-md-2" %>
      </div>
    <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
    </div>
  </div>
</div>

<%#= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
